@media screen and (min-width: 768px) {
  header {
    float: left;
    width: 100%;
    // Error:  You may not @extend an outer selector from within @media.
    // @extend .clearfix;
    &:before,
    &:after {
      content: "";
      display: table;
    }
    &:after {
      clear: both;
    }
    padding: 0;
    article {
      div {
        float: right;
        width: (100%/6)*2;
        nav {
          width: 100%;
          margin: 0;
          font-size: 1em;
          margin-bottom: -$spacing;
        }
      }
      aside {
        float: left;
        width: (100%/6)*4;
        padding-left: 1em;
        margin-top: $spacing;
      }
    }
  }

  footer {
    p {
      padding-right: 0;
    }
    nav {
      margin-left: 0;
    }
  }
}

// @media screen and (min-width: (($maxWidth/2) + 2*$spacing)) { // Only in sass 3.2+
@media screen and (min-width: 630px) {
  // Only in sass 3.2+

  body.compact {
    #box {
      margin: 2% auto;
      width: $maxWidth / 2;
      border-left: $spacing solid $blue;
      border-right: $spacing solid $blue;
    }
  }
}

// @media screen and (min-width: ($maxWidth + 2*$spacing)) { // Only in sass 3.2+
@media screen and (min-width: 1230px) {
  #box {
    margin: 2% auto;
    width: $maxWidth;
    border-left: $spacing solid $blue;
    border-right: $spacing solid $blue;
  }
}
