@import "normalize";
@import "helpers";
@import "colors";
@import "fonts";

html {
  background: white;
  color: black;
  font-family: 'Varela Round', sans-serif;
  width: 21cm;
  margin: 0;
}

table.nametag {
  margin: 23mm 0 16mm 2mm;
  td {
    width: 98mm;
    height: 56mm;
    vertical-align: top;
    position: relative;
    div.content {
      margin: 0 5mm;
      width: 88mm;
      position: relative;
      overflow: hidden;
      span.name {
        font-weight: bold;
        font-size: 1.5em;
      }
      span.title {
        font-size: 0.875em;
      }
      span.twitter {
      }
      span.role {
        color: rgba(#000, 0.75);
      }
      span.public {
        position: absolute;
        top: 0;
        right: 3px;
        font-weight: bold;
        font-size: 1.5em;
        color: rgba(#000, 0.75);
      }
      span.tags {
        font-weight: bold;
        text-transform: uppercase;
      }
    }
  }
}
